body {
	font-family: 'Raleway', sans-serif;
}

 
#nav {
	position: fixed;
	z-index: 99;
	background: white;
	-moz-box-shadow: 0px 2px 5px 0px #560703;
-webkit-box-shadow: 0px 2px 5px 0px #560703;
-o-box-shadow: 0px 2px 5px 0px #560703;
box-shadow: 0px 2px 5px 0px #560703;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#560703, Direction=180, Strength=5);
}

#nav ul {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
 
#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
	font-weight: bold;
}
 
#nav a {
	text-decoration: none;
	color:#C10000;
}
 
#nav a:hover {
	text-decoration: underline;

}

#nav img {
	height: 50px;
	width: auto;
	vertical-align: middle;
}

.text-center {
    text-align: center;
}

#section-summary img {
    height: 400px;
    width: auto;
}

#section-team img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.error {
	margin-top: -15px;
}

