.text-center {
    text-align: center;
}

#section-summary img {
    height: 400px;
    width: auto;
}

#section-team img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

